body {
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    padding:0;
    margin:0;
    background:lightgrey;
}
.container{
    padding-left:20px;
    margin:auto;
    overflow:hidden;
}
/* Header */
header{
    background-color:#35424a;
    Color:floralwhite;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}
header .hightlight{
    color:#e8491d;
    font-weight:bold;
    font-family:'Lucida Handwriting', 'Times New Roman';
}
header img{
       height:150px;
       width:auto;
       float:left;
       padding-bottom:10px;
       padding-right:10px;
}
header #branding h2 {
        font-size:2em;
        color: floralwhite;
        padding-top:50px;
}

/*Navigation*/
nav a{
    color: black;
    background-color: lightgrey;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
    font-weight:bold;
}
nav li{
    display:inline-block;
    padding: 0 20px 10px 20px;
}
nav li a:hover{
    background-color:lightgrey;
}
nav ul {
    border-bottom: #e8491d 3px solid;
}
 .choose{
    text-align:center;
    font-size:3em;
}
#ipad{
   height:300px;
   width:auto;
   float:left;
   clear:both;
   margin-right:15px;   
}
#about{
    text-decoration:underline solid black;
}
img #laptop{
    float:left;
    width:50%;
}

footer .services{
    text-align:center;
}
footer nav{
    text-align:center;
}
